/*Changes the background and text options of the page*/
body {
    background: #141E30;
    color: white;
    margin: 20px;
    font-family: 'Helvetica';
    font-size: 18px; 
}
/*Changes the color of the refrence links through the page*/
[href]{
    color:lightskyblue;
}
/*Changes the color of refrence links when hovered over*/
a:hover{
    color:aquamarine;
}
/*Wrap text around image to the right*/
.textwrapright {
    float: right;
    margin: 10px;
}
/*Wrap text around an image to the left*/
.textwrapleft {
    float: left;
    margin: 10px;
}
/*Centers an image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Changes the colors of all the h1 text lines*/
h1 {
    color: dodgerblue;
    text-align: center;
}
/*Changes the colors of all the h2 text lines*/
h2 {
    color: lightskyblue;
}
/*Changes the color of the Home text in the navigation bar*/
a[href*='home']{
    color:lightcyan; 
}
/*Changes the color of the Visual Studio Text in the navigation bar*/
a[href*='./Notes-VS.html'] {
    color: lightcyan;
}
a[href*='./Notes-C++.html']{
    color: lightcyan;
}
a[href*='./Notes-HTML.html']{
    color:lightcyan;
}
a[href*='./Notes-Java.html']{
    color: lightcyan;
}
a[href*='./Notes-Python']{
    color:lightcyan;
}
a[href*='./Notes-Home']{
    color: lightcyan;
}
/*Changes the orientation of h5 text lines*/
h5{
    text-align: center;
}
/*Allows changes to a single table*/
.mytable {
    border: 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.mytable th {
    border: 1px solid;
    text-align: center;
}
.mytable td {
    border: 1px solid;
    text-align: center;
}
table{
    padding: 5px;
}

h3{
    color:lightblue;
}